body {
    margin: 25px;
}
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    
    -ms-user-select: none;
    user-select: none;
}
.someCrap {
    animation-duration: .35s;
    animation-name: slidein;
    animation-timing-function: ease-in;
}
@keyframes slidein {
    from {
        transform: translate( 0px, -480px)
    }
    to {
        transform: translate(0px, 0px);
    }
}
/**/
h2{
    margin-top:0px;
    margin-bottom:0px;
}

ul{
    margin-top:0px;
    margin-bottom:0px;
}
/**/
.panel{
    border:1px solid;
    margin:10px;
    padding:10px;
}

.ui-button{
    cursor:pointer
}